* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.switcher {
  display: flex;
  list-style: none;
}
.switcher li {
  padding: 10px;
  background-color: #f6f4f4;
  border-right: 1px solid white;
  cursor: pointer;
  transition: 0.2s;
}

.switcher li:hover {
  background-color: #ff9800;
}
.switcher li.active {
  background-color: #ff9800;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 60px;
  left: 48px;
}
